<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Logo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Release Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let set of pokemonSets">
        <a [routerLink]="['/Expansions', set.id]">
        <td><img [src]="set.images.logo" alt="{{ set.name }}" class="product-set_image"></td>
        </a>
        <a [routerLink]="['/Expansions', set.id]">
        <td>{{ set.name }}</td>
        </a>
        <td>{{ set.releaseDate }}</td>
      </tr>
    </tbody>
  </table>

  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Previo</button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
