<footer class="bg-whitesmoke text-dark py-4">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h5>Información de Contacto</h5>
        <p>Dirección: 123 Calle Principal, Ciudad, País</p>
        <p>Teléfono: +123 456 789</p>
        <p>Email: infoexample.com</p>
      </div>
      <div class="col-md-6">
        <h5>Enlaces Rápidos</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/Home">Inicio</a></li>
          <li><a routerLink="/Expansions">Expansiones</a></li>
          <li><a routerLink="/Cards">Todas las Cartas</a></li>
          <li><a routerLink="/Login">Login</a></li>
        </ul>
      </div>
    </div>
    <hr class="my-4">
    <div class="text-center">
      <p>&copy; Vatoxxx 2024</p>
      <p class="footer-note">
        The literal and graphical information presented on this site about Pokemon, including card images and card text, Pokémon, The Pokémon TCG, and The Pokémon TCG Online and its trademarks are ©1995-2021 Nintendo, The Pokémon Company International, Inc, and GAMEFREAK. This website is not produced by, endorsed by, supported by, or affiliated with Nintendo, The Pokémon Company International, Inc, or GAMEFREAK. All other content © 2021–2024 PokemonCard.
      </p>
    </div>
  </div>
</footer>
