/* styles.css o card-detail.component.css */
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  background-color: #222;
}

.spinner {
  width: 100px;
  height: 100px;
  margin-top: 8%;
  border: solid 4px rgba(231, 231, 231, 0);
  border-top: solid 5px rgb(241, 68, 68);
  border-radius: 50%;
  transition: all 0.5s;
  animation: rotation_51512 1.2s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes rotation_51512 {
  70% {
    box-shadow: 0px 0px 10px 50px rgba(241, 57, 57, 0.526);
  }

  90% {
    box-shadow: 0px 0px 10px 50px rgba(241, 57, 57, 0.04);
  }

  100% {
    opacity: 0.5;
    transform: rotate(360deg);
  }
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




.container .link{
  text-decoration: underline;
}

/* Estilos para el contenedor principal */
.container {
  margin-top: 10%;
  margin-bottom: 8%;
  background-color: #000000; /* Fondo negro */
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 100%; /* Ocupa el ancho completo */
  max-width: 1200px; /* Máximo ancho */
  min-height: 480px;
  padding: 20px; /* Espaciado interior */
  box-sizing: border-box;
}

/* Ajustes para los títulos */
.container h1 {
  color: #ffffff; /* Color de texto blanco */
  font-size: 40px; /* Tamaño de fuente */
  margin-bottom: 3%; /* Espacio inferior */
  margin-top: 5%;
}

/* Ajustes para los párrafos */
.container p {
  color: #ffffff; /* Color de texto blanco */
  font-size: 16px; /* Tamaño de fuente */
  line-height: 1.5; /* Altura de línea */
}

/* Ajustes para los enlaces */
.container a {
  text-decoration: none; /* Sin subrayado */
  color: #ffffff; /* Color de texto blanco */
}

/* Estilos para las tarjetas de productos */
.product-card {
  display: block;
  text-decoration: none; /* Sin subrayado */
  color: #ffffff; /* Color de texto blanco */
  margin-bottom: 20px; /* Espacio inferior */
}

.product-card__image {
  width: 100%;

  object-fit: cover; /* Ajusta la imagen dentro del contenedor */
  border-radius: 5px;
}

.product-card__name {
  margin-top: 10px; /* Espacio superior */
}

/* Ajustes para columnas en diseño responsivo */
@media (min-width: 768px) {
  .container .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .container .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
