<div class="container">
  <h1>Tu Perfil</h1>
  <div *ngIf="currentUser">
    <form (ngSubmit)="onSubmit()" #profileForm="ngForm">
      <div class="profile-info">
        <div class="profile-picture">
          <img [src]="currentUser.photo" alt="Profile Picture" width="80" height="80">
          <input type="file" (change)="onFileSelected($event)" class="form-control">
        </div>
        <div class="username">
          <p>{{ currentUser.username }}</p>

        </div>
        <p>{{ currentUser.email }}</p>
      </div>
      <div class="bio">
        <label for="bio">Biografía</label>
        <textarea [(ngModel)]="currentUser.bio" name="bio" id="bio" class="form-control" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Actualizar Perfil</button>
    </form>
  </div>
</div>
