.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  background-color: #222;
}

.spinner {
  width: 100px;
  height: 100px;
  margin-top: 8%;
  border: solid 4px rgba(231, 231, 231, 0);
  border-top: solid 5px rgb(241, 68, 68);
  border-radius: 50%;
  transition: all 0.5s;
  animation: rotation_51512 1.2s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes rotation_51512 {
  70% {
    box-shadow: 0px 0px 10px 50px rgba(241, 57, 57, 0.526);
  }

  90% {
    box-shadow: 0px 0px 10px 50px rgba(241, 57, 57, 0.04);
  }

  100% {
    opacity: 0.5;
    transform: rotate(360deg);
  }
}

.container {
  margin-top: 10%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-bottom: 5%;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: static;
  overflow: hidden;
  width: 950px;
  max-width: 100%;
  width: 1200px;
  min-height: 480px;
}

.card-area {
  display: flex;
  gap: 20px;
}

.column1 {
  flex: 1;
}

.column2 {
  flex: 2;
}

.legal {
  color: green;
  font-weight: bold;
}

.banned {
  color: red;
  font-weight: bold;
}

.legalities {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0%;
  margin-left: 0%;
  margin-bottom: 5%;
}

.legalities span {
  text-align: center;
  margin: 0 5px;
}

.logo-image {
  max-width: 300px; /* Tamaño fijo */
  width: 500px;
  max-height: 300px;
  height: auto;
}

.expansion-name h1 {
  margin: 0;
  font-size: 4em;
  color: #ffcc00;
}

.image {
  display: flex;
  align-items: center;
  margin-left: 37%;
  width: 280px;
}

.card {
  display: inline-block;
  margin: 15px;
  text-align: center;
  color: whitesmoke;
  background-color: transparent;
  position: relative; /* Necesario para el efecto hover */
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cards img {
  max-width: 150px;
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-image {
  transform: scale(1.5);
  z-index: 10;
}

.rarity-section {
  margin: 20px 0;
}

.rarity-section h2 {
  color: #ffcc00;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 60px;
}

.rarity-section {
  margin-left: 6%;
}
