<div class="hero-container">
  <carousel>
    <slide *ngFor="let slide of slides; let index = index" [active]="index === 0">
      <img [src]="slide.image" alt="Image slide {{ index + 1 }}" class="d-block w-100">
      <div class="carousel-caption">
        <h3>{{ slide.captionTitle }}</h3>
        <p>{{ slide.captionText }}</p>
      </div>
    </slide>
  </carousel>
</div>

<div class="logo-brand-container">
  <div class="logo-brand">
    <a>PokePlanner</a>
    <img src="../../../favicon.ico" alt="PokePlanner Logo" style="vertical-align: middle; margin-left: 10px;">
  </div>
</div>

<div class="hero">
  <div class="hero-content">
    <h1>Descubre el mejor lugar para ver cartas y crear mazos con Pokémon!</h1>
    <p>Accede a la base de datos de cartas Pokémon más grande y completa, con cartas de cada set y mazos enviados por tus jugadores favoritos.</p>
    <div class="hero-buttons">
      <button routerLink="/Decks">Explorar todos los mazos</button>
      <button [routerLink]="['/Decks/Type/', 'standard']">Ver mazos estándar</button>
    </div>
  </div>
</div>


<div class="container">
  <h2>Busca Tu Carta Favorita</h2>
  <div class="row">
    <div class="col-md-3" *ngFor="let card of pokemonCards">
      <a class="product-card">
        <img [src]="card.images.small" alt="{{ card.name }}" class="product-card__image">
        <p class="product-card__name">{{ card.name }}</p>
      </a>
    </div>
  </div>
  <div class="view-more">
    <button routerLink="/Cards">Buscador De Cartas</button>
  </div>
</div>



