<div class="bodylog">
  <div class="background-image">
    <div class="gradient-overlay">
      <div class="containerl" id="containerl">
        <div class="form-container sign-up-container">
          <form (ngSubmit)="register()">
            <h1>Crea Una Cuenta</h1>
            <br>
            <input type="text" id="username" [(ngModel)]="username" name="username" placeholder="Ash Ketchum" />
            <input type="email" id="email" [(ngModel)]="email" name="email" required>
            <input type="password" id="contraseña" [(ngModel)]="password" name="contraseña" required>
            <br>
            <button type="submit">Regístrate</button>
            <div *ngIf="error">{{ error }}</div>
          </form>
        </div>
        <div class="form-container sign-in-container">
          <form (ngSubmit)="login()">
            <h1>Inicia Sesión</h1>
            <br>
            <input type="text" id="email" [(ngModel)]="email" name="email" required>
            <input type="password" id="password" [(ngModel)]="password" name="password" required>
            <a (click)="openForgotPassword()">¿Olvidaste tu contraseña?</a>
            <button type="submit">Inicia sesión</button>
          </form>
        </div>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <h1>¡Bienvenido de Vuelta Entrenador!</h1>
              <p>Inicia sesión con tu información personal</p>
              <button class="ghost" id="signIn">Inicia Sesión</button>
            </div>
            <div class="overlay-panel overlay-right">
              <h1>¡Hola, Entrenador Pokémon!</h1>
              <p>Ingresa tu información e inicia tu aventura con nosotros</p>
              <button class="ghost" id="signUp">Regístrate</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay-background" id="overlayBackground" (click)="closeForgotPassword()"></div>

<div class="form-containero" id="forgotPasswordForm">
  <div class="logo-containero">
    Olvidaste tu Contraseña
  </div>
  <form class="formo" (ngSubmit)="sendForgotPasswordEmail()">
    <div class="form-groupo">
      <label for="email">Email</label>
      <input type="text" id="forgotEmail" name="email" [(ngModel)]="forgotEmail" placeholder="Ingresa tu email" required>
    </div>
    <button class="form-submit-btno" type="submit">Enviar Email</button>
  </form>
  <p class="signup-linko">
    No tienes una Cuenta?
    <a class="signup-linko linko" (click)="openSignUp()">Registrate ahora</a>
  </p>
</div>
