<div class="container">
  <div *ngIf="deck">
    <div class="header">
      <div>
        <h1>{{ mazos.name }}</h1>
        <p>TCGplayer: ${{ tcgplayerTotal }}</p>
        <p>Cardmarket: €{{ cardmarketTotal }}</p>
      </div>
      <div class="trainer-info">
        <img [src]="trainer?.image" alt="{{ trainer?.username }}">
        <a [routerLink]="['/User-detail', trainer?.username]">{{ trainer?.username }}</a>
      </div>
    </div>

    <div class="deck-image">
      <img [src]="mazos.image" alt="{{ mazos.name }}">
    </div>

    <div class="description">
      <h2>Descripción</h2>
      <p>{{ mazos.description }}</p>
    </div>

    <div class="card-list">
      <h2>Main Deck</h2>
      <div *ngFor="let card of deck" class="card">
        <img *ngIf="card.image" [src]="card.image" alt="{{ card.cardid }}">
        <p>X{{ card.quantity }}</p>
      </div>
    </div>

    <div class="comment-form">
      <h3>Add a Comment</h3>
      <textarea [(ngModel)]="newComment.content" placeholder="Write your comment here..."></textarea>
      <button (click)="addComment()">Submit</button>
    </div>

    <div class="comments">
      <h3>Comments</h3>
      <br>


      <div *ngFor="let comment of comments;let i = index" class="commentl">
        <div class="commentf">
          <img [src]="trainerc[i]?.image" alt="{{ trainerc[i]?.username }}" height="50px">
          <a [routerLink]="['/User-detail', trainerc[i]?.username]">{{ trainerc[i]?.username }}</a>

            <a>- {{ formatCommentDate(comment.creationDateTime) }}</a>


        </div>
        <div class="content">
          <p>{{ comment.content }}</p>
        </div>

      </div>
    </div>


  </div>
</div>
